<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <script src="js/getUrlParms.js"></script>
    <script src="js/user-service.js"></script>
    <link rel="stylesheet" href="css/user-list.component.css" />
    <script src="js/user-list.component.js"></script>
    <script src="js/user.common.js"></script>
</head>
<body>
    <h3>User Listing</h3>
    <table class="table table-sm">
        <thead>
            <tr>
                <td>Id</td>
                <td>Username</td>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Phone Number</td>
                <td>Email</td>
                <td>Admin</td>
                <td>Reviewer</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody id="tbody">

        </tbody>
    </table>
</body>
</html>