<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script src="js/getUrlParms.js"></script>
    <script src="js/user-service.js"></script>
    <link rel="stylesheet" href="css/user-create.component.css" />
    <script src="js/user-create.component.js"></script>
    <script src="js/user.common.js"></script>
</head>
<body>
    <h3>User Create | <a href="user-list.component.html">Return to User List</a></h3>
    <table class="table table-sm">
        <tr>
            <td>Id:</td>
            <td><input id="id" type="text" size="8" disabled></td>
        </tr>
        <tr>
            <td>Username:</td>
            <td><input id="username" type="text" size="30"></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input id="password" type="password" size="30"></td>
        </tr>
        <tr>
            <td>First Name:</td>
            <td><input id="firstName" type="text" size="30"></td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td><input id="lastName" type="text" size="30"></td>
        </tr>
        <tr>
            <td>Phone Number:</td>
            <td><input id="phoneNumber" type="text" size="30"></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input id="email" type="text" size="30"></td>
        </tr>
        <tr>
            <td>Admin:</td>
            <td><input id="admin" type="checkbox"></td>
        </tr>
        <tr>
            <td>Reviewer:</td>
            <td><input id="reviewer" type="checkbox"></td>
        </tr>
        <tr>
            <td colspan="2">
                <button id="edit" class="btn btn-warning">Edit</button> |
                <button id="delete" class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </table>
</body>
</html>